@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script>
        function publishlog() {
            $.post("/publishlog", {}, function (json) {
                
            })
        }

        function publishorder() {
            $.post("/publishorder", {}, function (json) {

            })
        }
    </script>
}

    <div class="text-center">
        <button onclick="publishlog()" class="btn btn-primary">发送日志消息</button>
        <button onclick="publishorder()" class="btn btn-primary">发送订单消息</button>
    </div>
